html {
  font: normal normal normal 1rem/1.6 'Nunito', -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #2d2d2d;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0; }

img {
  height: auto;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: 'Paytone One'; }

a {
  color: #33C7EF;
  font-weight: 700;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ac {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.code {
  margin: auto; }

pre {
  background: #0D0D0D;
  color: #d5d5d5;
  font-family: Menlo, Roboto Mono, Courier New, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.6;
  font-weight: 400;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  border-radius: 0;
  margin: 1.5rem auto;
  padding: 2rem;
  border-radius: 6px;
  border-top: 20px solid #d0d0d0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.15); }

code {
  font-family: Menlo, Roboto Mono, Courier New, monospace; }

.hero-container {
  padding: 80px 0;
  max-width: 550px;
  margin-right: 50px; }
  .hero-container h1 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 3rem; }
  .hero-container p {
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 3rem; }
  .hero-container .subtitle {
    font-weight: 700;
    font-size: 2rem; }

a.button,
a.button-secondary {
  display: inline-block;
  -webkit-appearance: none;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
  background-image: -webkit-gradient(linear, left top, right top, from(#33C7EF), color-stop(51%, #37F093), to(#33C7EF));
  background-image: linear-gradient(to right, #33C7EF 0%, #37F093 51%, #33C7EF 100%);
  background-size: 300% auto;
  color: white;
  border-radius: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 1.25rem 1.75rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05); }
  a.button:hover,
  a.button-secondary:hover {
    text-decoration: none;
    background-position: right center; }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  height: 80px;
  font-size: 1.1rem; }

.brand a {
  font-weight: 400;
  color: #2d2d2d;
  text-decoration: none; }
  .brand a:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, transparent), color-stop(0, #c5fbe0));
    background: linear-gradient(180deg, transparent 55%, #c5fbe0 0); }

.site-navigation {
  height: 80px;
  padding: 0 1rem;
  border-bottom: 1px solid #efefef;
  font-family: 'Nunito'; }
  .site-navigation .menu a {
    color: #888;
    font-weight: 400;
    margin: 0 2px;
    padding: 1rem; }
    .site-navigation .menu a:hover {
      text-decoration: none;
      color: #111; }

.site-footer {
  padding: 80px 0;
  background: #0D0D0D url("../nobuo2.png") no-repeat right top/contain;
  color: #dedede; }
  .site-footer h1,
  .site-footer h2 {
    font-family: 'Nunito';
    color: #dedede;
    font-size: 1.8rem; }
  .site-footer h1 {
    display: inline-block; }
  .site-footer h2 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, transparent), color-stop(0, #37F093));
    background: linear-gradient(180deg, transparent 85%, #37F093 0); }
  .site-footer .sub {
    color: #33C7EF;
    font-weight: 700;
    font-size: 1.2rem; }

.about {
  max-width: 500px; }

.boolean {
  color: #33c7ef; }

.string {
  color: #66f4ad; }

.social-icons {
  margin-top: 2rem; }
  .social-icons a {
    color: white;
    margin: 0 5px; }
    .social-icons a:hover {
      text-decoration: none;
      color: #62d4f3; }

.primary {
  color: #33C7EF; }

.secondary {
  color: #37F093; }
